/*  Colors:
	Dark Brown - #381E07
	Brown - #4C2209
	Light Brown - #894C16
	Lighter Brown - #C89E77
	Orange - #FF9C00
*/

/*  

===== THIS FILE IS FOR PAGE 3 ONLY ======   

*/

nav a:nth-child(3) { background-color: #FF9C00; }
nav div:nth-child(6) { border-top: 25px solid #FF9C00; }

main p{
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
}

.image {
	width: 200px;
	height: 200px;
	background-color: #FF9C00;
	margin: 50px 65px 50px 0px;
	display: inline-block;
}

#wrapper {
	width: 80%;
	margin-left: 25%;
}


/*  jacobus visser    */