/*  Colors:
	Dark Brown - #381E07
	Brown - #4C2209
	Light Brown - #894C16
	Lighter Brown - #C89E77
	Orange - #FF9C00
*/

/*  

===== THIS FILE IS FOR PAGE 2 ONLY ======   

*/

nav a:nth-child(2) { background-color: #FF9C00; }
nav div:nth-child(5) { border-top: 25px solid #FF9C00; }

.image {
	width: 200px;
	height: 200px;
	background-color: #FF9C00;
	margin: 0px 65px 65px 0px;
	display: inline-block;
}

#wrapper {
	width: 80%;
	margin-left: 10%;
}


/*  jacobus visser    */